{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		{# Cargamos la librería #} 
		{% load bootstrap4 %} 

		{# CSS Bootstrap #} 
		{% bootstrap_css %}

		{# Archivos #}
		{% load static %} <!-- STATIC_URL -->
		<title>{% trans "Crear usuario" %}</title>
	</head>
	<body>

	<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}" />
          <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                  <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>{{ language.name_local }} ({{ language.code }})
		  </option>
                {% endfor %}
          </select>
          <input type="submit" value="Go" />
        </form>

	
		
	<div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class=" text-center bg-warning text-danger">
                    <br>
                    <h3> Web Fitness </h3>
                    <br>
                 </div>
                <div class="text-center">
                    <br>
		    <h5>{% trans "Agregar usuario" %}</h5>
                </div>   
		<form class="needs-validation" novalidate>
		<div class="form-group">
			<label for="unombre">{% trans "Nombre" %}:</label>
			<input type="text" class="form-control" id="uname" placeholder={% trans "Ingrese nombre" %} name="unombre" required>
                        <div class="invalid-feedback">Este campo es necesario</div>
                    </div>
                    <div class="form-group">
			    <label for="uapellido">{% trans "Apellido" %}:</label>
			    <input type="text" class="form-control" id="uapellido" placeholder={% trans "Ingrese apellido" %} name="uapellido" required>
                        <div class="invalid-feedback">Este campo es necesario</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
				    <label for="upeso">{% trans "Peso(Kg)" %}:</label>
				    <input type="text" class="form-control" id="upeso" placeholder={% trans "Ingrese peso" %} name="peso" required>
                                <div class="invalid-feedback">Este campo es necesario</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
				    <label for="utalla">{% trans "Talla(cm)" %}:</label>
				    <input type="text" class="form-control" id="utalla" placeholder={% trans "Ingrese talla" %} name="utalla" required>
                            <div class="invalid-feedback">Este campo es necesario</div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
			    <label for="uedad">{% trans "Edad" %}:</label>
			    <input type="text" class="form-control" id="uedad" placeholder={% trans "Ingrese edad" %} name="uedad" required>
                        <div class="invalid-feedback">Este campo es necesario</div>
                    </div>
                    <div class="form-group">
			    <label for="uemail">{% trans "Email" %}:</label>
			    <input type="text" class="form-control" id="uemail" placeholder={% trans "Ingrese email" %} name="uemail" required>
                        <div class="invalid-feedback">Este campo es necesario</div>
                    </div>
		    <button type="submit" class="btn btn-success">{% trans "Agregar" %}</button>
		</form>
		</div>
            <div class="col-sm-3"></div>
        </div>
        <script>
            // Disable form submissions if there are invalid fields
            (function() {
              'use strict';
              window.addEventListener('load', function() {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();
            </script>
		{# JS y jQuery Bootstrap #}
		{% bootstrap_javascript jquery='full' %} 
	</body>
</html>
