{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">	  
    <title>{% trans "Registrarse" %}</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Framework BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="{% static "css/register.css" %}" th:href="@{/css/index.css}">

  </head>
  <body>
    
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    	<input name="next" type="hidden" value="{{ redirect_to }}" />
    	<select name="language">
        	{% get_current_language as LANGUAGE_CODE %}
        	{% get_available_languages as LANGUAGES %}
        	{% get_language_info_list for LANGUAGES as languages %}
        	{% for language in languages %}
            	  <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                	{{ language.name_local }} ({{ language.code }})
            	  </option>
        	{% endfor %}
    	</select>
    	<input type="submit" value="Go" />
    </form>	  

    <div class="modal-dialog text-center">
      <div class="col-sm-8 main-section">
        <div class="modal-content">
          <div class="col-12 user-img">
		  <img src="{% static "img/user.png" %}">
	  </div>
	     <form class="col-12">
		<div class="form-group" id="user-group">
		  <input type="text" class="form-control" placeholder={% trans "Usuario " %}/>
		</div>
		<div class="form-group" id="password-group">
                  <input type="password" class="form-control" placeholder={% trans "Contraseña " %}/>
                </div>
		<div class="form-group" id="password2-group">
			<input type="password" class="form-control" placeholder={% trans "Repetir " %}/>
                </div>
                <div class="form-group" id="email-group">
		  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder={% trans "Direccion de Correo" %}>
                  <small id="emailHelp" class="form-text text-muted">{% trans "Su correo no sera compartido con terceros" %}</small>
		</div>
		<button type="button" class="btn btn-outline-secondary">{% trans "Terminos de Servicio" %}</button><br>
	        <div class="form-check">
  		  <input class="form-check-input" type="checkbox" value="" id="check">
  		  <label class="form-check-label" for="check">{% trans "Acepto los términos de servicio" %}</label>
		</div><br>
		<button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i>{% trans "Registrarse" %}</button>
	     </form>

	     

	</div>
      </div>
    </div>

  </body>
</html>
